<div class="sixteen columns omega">
  <h2>Sign Up</h2>
  <form>
    <label>User Name:</label>
    <input type="text" name="user_name" />
    <label>Password:</label>
    <input type="password" name="useer_pwd" />
    <input type="submit" value="Sign Up">
  </form>
</div>