<div class="sixteen columns omega">
  <h2>Sign In</h2>
  <form method="post" action="/signin" name="user_signin">
    <label>User Name:</label>
    <input type="text" name="user_name" />
    <label>Password:</label>
    <input type="password" name="user_pwd" />
    <input type="submit" value="Sign In">
  </form>
</div>